<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="theme-color" content="black">

    <meta name="author" content="Robin Forestier">
    <meta name="description" content="Error page">

    <title>Light Control Error</title>
    <link rel="icon" type="image/x-icon" href="/static/img/LogoElo.ico">
    <link rel="shortcut icon" href="/static/img/LogoElo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/404.css/">
</head>
<body>
    <div class="background">
        <div class="wave -one"></div>
        <div class="wave -two"></div>
        <div class="wave -three"></div>
        <div class="wave -for"></div>
        <div class="wave -five"></div>
    </div>

    <div class="all">
        <div class="terminal">
            <span class="entete">
                <a class="red" href="/"> </a>
                <a class="jaune" href="https://www.youtube.com/channel/UC0hVF6m1WlG9nCOo1_hOlJg" target="_blank"> </a>
                <a class="vert" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"> </a>
                <p> Terminal - \ </p>
            </span>
            <div class="text">
                <p>ELO Light Control [version 1.1.404] </br>
                Copyright (c) 2022 ELO Corporation. Tous droit réservés.</p>
                <p>$ <mark class="error">Error : {{ title }}</mark> </p>
                <p>$ help ( {{ title }} )</p>
                <p>$ <mark class="error"> {{ error }} </mark> </p>
                <p>$ </p>
            </div>
        </div>

        <div class="border_screen"> </div>
        <div class="clavier">
            <div class="touche"></div>

            <div class="touche"></div>
            <div class="touche"></div>

            <div class="touche"></div>
            <div class="touche"></div>
            <div class="touche"></div>

            <div class="touche"></div>
        </div>
    </div>
</body>
</html>